<div class="message-container">
  <div
    class="message-content"
    style="
      height: auto;
      width: auto;
      font-size: large;
      padding: 5px;
      margin: 15px;
      background-color: white;
      overflow-y: scroll;
      border-radius: 10px;
    "
  >
    tes
  </div>
</div>
